@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html {
  font-size: 62.5%; }

html, body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: #353564;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit; }

ul {
  margin: 0 auto; }

p {
  margin: 3.2rem 0; }

a {
  text-decoration: none;
  position: relative;
  text-shadow: -0.1rem 0.1rem white, 0.1rem -0.1rem white, -0.1rem -0.1rem white, 0.1rem 0.1rem white; }
  a:link, a:visited {
    color: #353564; }
  a:hover, a:active {
    color: #353564; }
  a:before {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0.25rem;
    left: 0;
    width: 100%;
    height: 0.05em;
    background-color: #353564; }

.button {
  text-decoration: none;
  position: relative;
  text-shadow: -0.1rem 0.1rem transparent, 0.1rem -0.1rem transparent, -0.1rem -0.1rem transparent, 0.1rem 0.1rem transparent;
  display: inline-block;
  padding: 0 2rem 0.1rem;
  height: 4rem;
  line-height: 4rem;
  font-family: "Work Sans", "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none; }
  .button:before {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0.25rem;
    left: 0;
    width: 100%;
    height: 0.05em;
    background-color: transparent; }
  .button:link, .button:visited {
    color: #353564;
    background-color: transparent;
    border: 2px solid #353564;
    border-radius: 0.5rem; }
  .button:hover, .button:active {
    color: white;
    background-color: #353564;
    border: 2px solid #353564; }

.button-inverted {
  text-decoration: none;
  position: relative;
  text-shadow: -0.1rem 0.1rem transparent, 0.1rem -0.1rem transparent, -0.1rem -0.1rem transparent, 0.1rem 0.1rem transparent; }
  .button-inverted:before {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0.25rem;
    left: 0;
    width: 100%;
    height: 0.05em;
    background-color: transparent; }
  .button-inverted:link, .button-inverted:visited {
    color: white;
    background-color: #353564;
    border: 2px solid #353564;
    border-radius: 0.5rem; }
  .button-inverted:hover, .button-inverted:active {
    color: #353564;
    background-color: transparent;
    border: 2px solid #353564; }

img {
  width: 100%;
  height: auto; }

.space-right-s {
  margin-right: 2.4rem; }

.space-bottom-m {
  margin-bottom: 3.2rem; }

.font-emphasis {
  font-family: "Work Sans", "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 3.2rem;
  line-height: 4.2rem; }

.font-primary {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem; }

.font-caption {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 1.5rem;
  text-align: right;
  line-height: 3rem;
  display: block; }

.section-default, .section-last {
  max-width: 68rem;
  width: 90%;
  margin: 8rem auto; }

.section-full {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section-last {
  padding: 0 0 16rem; }

.section-nav {
  display: flex;
  justify-content: space-between; }

.margin-8rem {
  margin: 8rem auto; }

.padding-8rem {
  padding: 8rem 0; }

.padding-bottom-8rem {
  padding: 0 0 8rem; }

.padmar-0 {
  margin: 0;
  padding: 0; }

.maxWidth-900 {
  width: 90%;
  max-width: 90rem; }

.maxWidth-1100 {
  width: 90%;
  max-width: 110rem; }

.bg-grey {
  background-color: rgba(0, 0, 0, 0.05); }

.col-3 {
  width: calc( 100% / 3);
  min-width: calc( 100% / 3); }

.col-flex {
  display: flex;
  flex-direction: row; }

/* Page Specific */
.global-nav {
  z-index: 99;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row; }
  .global-nav a {
    width: calc( 100% / 6);
    min-width: calc( 100% / 6);
    height: 0.75rem;
    font-size: 0;
    display: block;
    box-sizing: border-box;
    border-top: 0.25rem solid #353564; }

#meter {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: calc( 100% / 6);
  min-width: calc( 100% / 6);
  min-height: 0.75rem;
  background-color: #353564;
  transition: left 200ms; }

.wbs {
  background-image: url("./../../content/images/wbs/0-vert.png");
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .wbs .wbs-yt {
    position: relative;
    width: 100%; }
    .wbs .wbs-yt:after {
      content: "";
      display: block;
      padding-bottom: calc( 900% / 16); }
    .wbs .wbs-yt iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      border: none; }

@media screen and (min-width: 678px) {
  .wbs {
    flex-direction: row;
    background-image: url("./../../content/images/wbs/0-hor.png"); }
    .wbs .wbs-yt {
      width: calc( 100% / 3);
      min-width: calc( 100% / 3); } }
