@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html {
  font-size: 62.5%; }

html, body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: #353564;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit; }

p {
  margin: 3.2rem 0; }

a {
  text-decoration: none;
  position: relative;
  text-shadow: -0.1rem 0.1rem white, 0.1rem -0.1rem white, -0.1rem -0.1rem white, 0.1rem 0.1rem white; }
  a:link, a:visited {
    color: #353564; }
  a:hover, a:active {
    color: #353564; }
  a:before {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0.25rem;
    left: 0;
    width: 100%;
    height: 0.05em;
    background-color: #353564; }

button {
  color: #353564;
  background-color: transparent;
  border: 2px solid #353564;
  font-family: "Work Sans", "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  height: 4rem;
  padding: 0 2rem 0.1rem;
  border-radius: 0.5rem;
  outline: none; }
  button:hover {
    color: white;
    background-color: #353564;
    border: 2px solid #353564; }

.space-right-s {
  margin-right: 2.4rem; }

.space-bottom-m {
  margin-bottom: 3.2rem; }

.font-primary {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem; }

.font-emphasis {
  font-family: "Work Sans", "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 3.2rem;
  line-height: 4.2rem; }

.section-default {
  max-width: 68rem;
  width: 90%;
  margin: 8rem auto; }

.section-last {
  margin-bottom: 16rem; }
