@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500,600");
/* Variables */
/* Mixins */
/* Base Styles */
html {
  font-size: 62.5%; }

body {
  background-color: #f2f2f2; }

body, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  display: inline;
  font-family: 'Work Sans', 'Helvetica', sans-serif;
  font-size: 2.1rem;
  line-height: 1.45em;
  font-weight: 500;
  color: #3464ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: inherit; }

b {
  font-weight: 600; }

a, a:link, a:visited {
  text-decoration: none;
  color: #3464ff;
  text-shadow: -1px -1px 0 #f2f2f2, 1px -1px 0 #f2f2f2, -1px 1px 0 #f2f2f2, 1px 1px 0 #f2f2f2;
  background-size: 1px 1em;
  box-shadow: inset 0 -0.075em #f2f2f2, inset 0 -0.15em #3464ff; }

img {
  width: 80%;
  max-width: 84rem;
  margin: 0 auto;
  display: block; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Layout */
html, body {
  width: 100%;
  height: 100%; }

main {
  width: 100%;
  padding: 5rem 0; }

section {
  width: 100%; }

[class*="section"] {
  padding: 5.4rem 0; }
  [class*="section"] [class*="section"] {
    padding: 0; }
  [class*="section"][class*="--center"] {
    margin: 0 auto;
    width: 90%;
    max-width: 60rem; }
  [class*="section"][class="--full"] {
    width: 100vw; }

nav {
  position: fixed;
  top: 0;
  left: 0; }

/* Styles */
.full {
  width: 100%;
  max-width: auto; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

ul.list {
  margin: 0;
  padding: 0; }
  ul.list li {
    list-style: none outside;
    margin-left: 2rem; }
    ul.list li:before {
      width: 2rem;
      margin-left: -2rem;
      display: inline-block;
      content: "•"; }

a:link.button, a:visited.button, a:hover.button, a:active.button {
  text-shadow: 0 0 transparent;
  box-shadow: 0 0 transparent;
  background-size: 0 0;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 2em;
  height: 2em;
  margin: 0.5em 0;
  padding: 0 1.25em;
  border: 0.145em solid #3464ff;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em; }
  a:link.button.inverted, a:visited.button.inverted, a:hover.button.inverted, a:active.button.inverted {
    border-color: #f2f2f2;
    color: #f2f2f2; }
  a:link.button--next, a:visited.button--next, a:hover.button--next, a:active.button--next {
    background-color: #3464ff;
    color: #f2f2f2; }
  a:link.button--prev::before, a:link.button--next::after, a:visited.button--prev::before, a:visited.button--next::after, a:hover.button--prev::before, a:hover.button--next::after, a:active.button--prev::before, a:active.button--next::after {
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    content: ''; }
  a:link.button--prev::before, a:visited.button--prev::before, a:hover.button--prev::before, a:active.button--prev::before {
    margin-right: 0.25em;
    transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    border-top: 0.145em solid #3464ff;
    border-right: 0.145em solid #3464ff; }
  a:link.button--next::after, a:visited.button--next::after, a:hover.button--next::after, a:active.button--next::after {
    margin-left: 0.25em;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-top: 0.145em solid #f2f2f2;
    border-right: 0.145em solid #f2f2f2; }

/* Annenberg */
#annenberg--menu, #annenberg--mbl, #annenberg--event {
  background-size: 100% 100%;
  background-color: #C9292A;
  background: linear-gradient(to bottom right, #C9292A, #981B1E);
  background: -o-linear-gradient(bottom right, #C9292A, #981B1E);
  background: -moz-linear-gradient(bottom right, #C9292A, #981B1E);
  background: -webkit-linear-gradient(left top, #C9292A, #981B1E); }

#annenberg--calendar {
  background-color: #fff; }

#annenberg--mbl .flex {
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto; }
  #annenberg--mbl .flex img {
    width: 30%; }

/* Blog */
#blog--r {
  background-color: #00ADEE;
  color: #f2f2f2; }

#blog--r-1, #blog--r-2 {
  margin-left: auto;
  margin-right: auto; }
  #blog--r-1 img, #blog--r-2 img {
    width: 49%; }

#blog--mbl {
  width: 120%;
  margin-left: -10%; }
  #blog--mbl img {
    width: 16.5%; }

#blog--screens {
  background-color: #2950d0; }

#blog--outro {
  background-color: #1c3790;
  color: #f2f2f2; }
