@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')

$font-primary: 'Open Sans', 'Helvetica', 'Arial', sans-serif
$font-emphasis: 'Work Sans', 'Open Sans', 'Helvetica', 'Arial', sans-serif
$font-xl: 3.2rem
$font-m: 1.8rem

$width-default: 68rem
$width-wide: 90rem

$color-midnightBlue: #353564

$color-primary: $color-midnightBlue


@mixin link($link, $hover)
	&:link, &:visited
		color: $link
	&:hover, &:active
		color: $hover
@mixin underline($foreground, $background: white)
	text-decoration: none
	position: relative
	text-shadow: -0.1rem 0.1rem $background, 0.1rem -0.1rem $background, -0.1rem -0.1rem $background, 0.1rem 0.1rem $background
	&:before
		content: ""
		z-index: -1
		position: absolute
		bottom: 0.25rem
		left: 0
		width: 100%
		height: 0.05em
		background-color: $foreground
@mixin button($foreground, $background, $hoverForeground:$foreground, $hoverBackground:$background)
	@include underline(transparent, transparent)
	color: $foreground
	background-color: $background
	border: 2px solid $foreground
	border-radius: 0.5rem
	&:hover
		color: $hoverForeground
		background-color: $hoverBackground
		border: 2px solid $foreground


html
	font-size: 62.5%
html, body
	padding: 0
	margin: 0
	font-family: $font-primary
	font-weight: 400
	color: $color-primary
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: greyscale
h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0
	font-size: inherit
	font-weight: inherit
	line-height: inherit
p
	margin: 3.2rem 0
a
	@include link($color-primary, $color-primary)
	@include underline($color-primary)
.button
	@include button($color-primary, transparent, white, $color-primary)
	display: inline-block
	padding: 0 2rem 0.1rem
	height: 4rem
	line-height: 4rem
	font-family: $font-emphasis
	font-size: $font-m
	font-weight: 500
	text-decoration: none

.space-right-s
	margin-right: 2.4rem
.space-bottom-m
	margin-bottom: 3.2rem

.font-primary
	font-family: $font-primary
	font-size: $font-m
	line-height: 3rem
.font-emphasis
	font-family: $font-emphasis
	font-size: $font-xl
	line-height: 4.2rem


.section-default
	max-width: $width-default
	width: 90%
	margin: 8rem auto
.section-last
	margin-bottom: 16rem