@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600')

/* Variables */
$color-grey: #f2f2f2
$color-blue: #3464ff
$color-blue-dark: #2950d0

/* Mixins */
@mixin underline($underline)
	text-shadow: -1px -1px 0 $color-grey, 1px -1px 0 $color-grey, -1px 1px 0 $color-grey, 1px 1px 0 $color-grey
	background-size: 1px 1em
	box-shadow: inset 0 -0.075em $color-grey, inset 0 -0.15em $underline
	// text-decoration: underline
@mixin nounderline
	text-shadow: 0 0 transparent
	box-shadow: 0 0 transparent
	background-size: 0 0
@mixin transform($property)
	transform: $property
	-o-transform: $property
	-ms-transform: $property
	-moz-transform: $property
	-webkit-transform: $property
@mixin gradient($start, $end)
	background-size: 100% 100%
	background-color: $start
	background: linear-gradient(to bottom right, $start, $end)
	background: -o-linear-gradient(bottom right, $start, $end)
	background: -moz-linear-gradient(bottom right, $start, $end)
	background: -webkit-linear-gradient(left top, $start, $end)
@mixin typography
	padding: 0
	margin: 0
	display: inline
	font-family: 'Work Sans', 'Helvetica', sans-serif
	font-size: 1.9rem
	line-height: 1.53em
	font-weight: 500
	color: $color-blue
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale



/* Base Styles */
html
	font-size: 62.5%
body
	background-color: $color-grey

body, h1, h2, h3, h4, h5, h6
	@include typography
	font-weight: inherit
b
	font-weight: 600
a
	&, &:link, &:visited
		text-decoration: none
		color: $color-blue
		@include underline($color-blue)
	&:hover, &:active
		// color: $color-blue-dark
		// @include underline($color-blue-dark)
img
	// width: 100%
	width: 80%
	max-width: 84rem
	margin: 0 auto
	display: block
ul, li
	margin: 0
	padding: 0
	list-style: none


/* Layout */
html, body
	width: 100%
	height: 100%
	// display: flex
main
	width: 100%
	max-width: 100vw
	overflow-x: hidden
	padding: 5rem 0
section
	width: 100%
[class*="section"]
	padding: 5.4rem 0
	// border: 1px solid orange
	[class*="section"]
		padding: 0
	&[class*="--center"]
		margin: 0 auto
		width: 90%
		max-width: 60rem
	&[class="--full"]
		width: 100vw
nav
	background-color: pink
	display: none


/* Styles */
.full
	width: 100%
	max-width: auto
.flex
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: wrap
ul.list
	margin: 0
	padding: 0
	li
		list-style: none outside
		margin-left: 2rem
		&:before
			width: 2rem
			margin-left: -2rem
			display: inline-block
			content: "•"
a:link, a:visited, a:hover, a:active
	&.button
		@include nounderline
		display: inline-block
		font-size: 0.75em
		// text-transform: uppercase
		font-weight: 500
		line-height: 2em
		height: 2em
		margin: 0.5em 0
		padding: 0 1.25em
		border: 0.145em solid $color-blue
		-webkit-border-radius: 1.5em
		-moz-border-radius: 1.5em
		border-radius: 1.5em
		&.inverted
			border-color: $color-grey
			color: $color-grey
		// &:hover
		// 	color: $color-blue-dark
		// 	&::before, &::after
		// 		border-top: 0.145em solid $color-blue-dark
		// 		border-right: 0.145em solid $color-blue-dark
		&--next
			background-color: $color-blue
			color: $color-grey
		&--prev::before, &--next::after
			display: inline-block
			height: 0.5em
			width: 0.5em
			content: ''
		&--prev::before
			margin-right: 0.25em
			@include transform(rotate(-135deg))
			border-top: 0.145em solid $color-blue
			border-right: 0.145em solid $color-blue
		&--next::after
			margin-left: 0.25em
			@include transform(rotate(45deg))
			border-top: 0.145em solid $color-grey
			border-right: 0.145em solid $color-grey


@mixin width90
	padding-left: 5%
	padding-right: 5%
@mixin width80
	padding-left: 10%
	padding-right: 10%

/* Annenberg */
#annenberg--menu, #annenberg--calendar, #annenberg--event
	// @include width80
#annenberg--menu, #annenberg--mbl, #annenberg--event
	@include gradient(#C9292A, #981B1E)
#annenberg--calendar
	background-color: #fff
#annenberg--mbl
	.flex
		@include width80
		margin: 0 auto
		img
			width: 30%
/* Blog */
#blog--r
	background-color: #00ADEE
	color: $color-grey
	#blog--r-text
		padding: 2rem 0
#blog--r-1, #blog--r-2
	@include width90
	max-width: 84rem
	margin-left: auto
	margin-right: auto
	img
		width: 48%
#blog--mbl
	width: 120%
	margin-left: -10%
	padding: 2rem 0
	img
		width: 16.5%
#blog--screens
	background-color: $color-blue-dark
#blog--outro
	background-color: darken($color-blue-dark, 15%)
	color: $color-grey

/* Engineering Dashboard */
#eng--og
	// background-color: orange
	background-image: url("../../content/images/dashboard/dash-original.jpg")
	background-size: cover
	height: 15rem
#eng--screens
	background-color: #fff
#eng--mbl
	background-color: #fff
	.flex
		@include width80
		img
			width: 23%

#wbs--yt
	.yt
		background-color: #ddd
		padding: 0
		margin: 0
		width: 100%
		height: 56.25vw
		iframe
			width: 100%
			height: 100%
			border: 0
	@media screen and (min-width: 768px)
		flex-wrap: nowrap
		.yt
			padding: 0
			margin: 0
			width: 33.333%
			height: 18.75vw
#wbs--ig
	background-color: #333
	color: #fff


