@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')

$font-primary: 'Open Sans', 'Helvetica', 'Arial', sans-serif
$font-emphasis: 'Work Sans', 'Open Sans', 'Helvetica', 'Arial', sans-serif
$font-xl: 3.2rem
$font-m: 1.8rem

$width-default: 68rem
$width-wide: 90rem

$color-midnightBlue: #353564

$color-primary: $color-midnightBlue


@mixin link($link, $hover)
	&:link, &:visited
		color: $link
	&:hover, &:active
		color: $hover
@mixin underline($foreground, $background: white)
	text-decoration: none
	position: relative
	text-shadow: -0.1rem 0.1rem $background, 0.1rem -0.1rem $background, -0.1rem -0.1rem $background, 0.1rem 0.1rem $background
	&:before
		content: ""
		z-index: -1
		position: absolute
		bottom: 0.25rem
		left: 0
		width: 100%
		height: 0.05em
		background-color: $foreground
@mixin button($foreground, $background, $hoverForeground:$foreground, $hoverBackground:$background, $border: $foreground)
	@include underline(transparent, transparent)
	&:link, &:visited
		color: $foreground
		background-color: $background
		border: 2px solid $border
		border-radius: 0.5rem
	&:hover, &:active
		color: $hoverForeground
		background-color: $hoverBackground
		border: 2px solid $border


html
	font-size: 62.5%
html, body
	padding: 0
	margin: 0
	font-family: $font-primary
	font-weight: 400
	color: $color-primary
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: greyscale
h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0
	font-size: inherit
	font-weight: inherit
	line-height: inherit
ul
	margin: 0 auto
p
	margin: 3.2rem 0
a
	@include link($color-primary, $color-primary)
	@include underline($color-primary)
.button
	@include button($color-primary, transparent, white, $color-primary)
	display: inline-block
	padding: 0 2rem 0.1rem
	height: 4rem
	line-height: 4rem
	font-family: $font-emphasis
	font-size: $font-m
	font-weight: 500
	text-decoration: none
.button-inverted
	@include button(white, $color-primary, $color-primary, white, $color-primary)
img
	width: 100%
	height: auto

.space-right-s
	margin-right: 2.4rem
.space-bottom-m
	margin-bottom: 3.2rem

.font-primary
	font-family: $font-primary
	font-size: $font-m
	line-height: 3rem
.font-emphasis
	font-family: $font-emphasis
	font-size: $font-xl
	line-height: 4.2rem


.section-default
	max-width: $width-default
	width: 90%
	margin: 8rem auto
.section-full
	width: 100%
	// margin: 8rem auto
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
.section-last
	@extend .section-default
	padding: 0 0 16rem
.section-nav
	display: flex
	justify-content: space-between

.margin-8rem
	margin: 8rem auto
.padding-8rem
	padding: 8rem 0
.padding-bottom-8rem
	padding: 0 0 8rem

.maxWidth-900
	width: 90%
	max-width: 90rem
.maxWidth-1100
	width: 90%
	max-width: 110rem

.bg-grey
	background-color: rgba(0,0,0,0.05)

@mixin col-3
	width: calc( 100% / 3 )
	min-width: calc( 100% / 3 )
@mixin col-5
	width: calc( 100% / 5 )
	min-width: calc( 100% / 5 )
@mixin col-flex
	display: flex
	flex-direction: row

.col-3
	@include col-3
.col-5
	@include col-5
.col-flex
	@include col-flex


/* Page Specific */
.global-nav
	z-index: 99
	width: 100%
	position: fixed
	top: 0
	@include col-flex
	a
		@include col-5
		height: 0.75rem
		font-size: 0
		display: block
		box-sizing: border-box
		border-top: 0.25rem solid $color-primary
		// background-color: pink
		&.active
			// background-color: $color-primary
#meter
	z-index: 999
	position: fixed
	top: 0
	left: 0
	@include col-5
	min-height: 0.75rem
	background-color: $color-primary
	transition: left 200ms
.wbs
	background-image: url('./../../content/images/wbs/0-vert.png');
	background-repeat: no-repeat
	background-size: contain
	overflow: hidden
	display: flex
	flex-wrap: no-wrap
	flex-direction: column
	justify-content: center
	align-items: center
	width: 100%
	.wbs-yt
		position: relative
		width: 100%
		&:after
			content: ""
			display: block
			padding-bottom: calc( 900% / 16 )
			// padding-bottom: 100%
		iframe
			position: absolute
			width: 100%
			height: 100%
			border: none
@media screen and (min-width: 678px)
	.wbs
		flex-direction: row
		background-image: url('./../../content/images/wbs/0-hor.png');
		.wbs-yt
			@include col-3

